<div class="content">
    <h1>Para cualquier duda, ¡contacta con nosotros!</h1>

    <div class="phoneContact">
        <div class="phoneNumber">
            <p>Número de contacto: 666 66 66 66</p>
        </div>
        <div class="schedule">
            <p>Horario de consulta: De 11:00 A 19:00</p>
            <img src="assets/img/Phone_GuyCN.png">
        </div>
    </div>
    <div class="emailContact">
        <div class="emailDirection">
            <p>Email de contacto: pcGaming@tienda.es</p>
        </div>
        <div class="emailForm form">
            <form (ngSubmit)="submit()" #userForm="ngForm">
                <div class="nameForm form-group">
                    <p for="user">Nombre</p>
                    <input type="text" name="user" id="nameInput" [(ngModel)]="contact.name" #name="ngModel" required>
                </div>

                <div *ngIf="name.invalid && name.dirty" class="alert">
                    <div *ngIf="name.errors?.required">*Campo requerido</div>
                </div>

                <div class="mailForm form-group">
                    <p for="email">Email</p>
                    <input type="email" name="email" id="mailInput" [(ngModel)]="contact.email" #email="ngModel" required>
                </div>
                <div class="textForm form-group">
                    <p for="text">Texto</p>
                    <input type="text" name="text" id="textInput" [(ngModel)]="contact.text" #text="ngModel" required>
                </div>

                <div *ngIf="text.invalid && text.dirty" class="alert">
                    <div *ngIf="text.errors?.required">*Campo requerido</div>
                </div>


                <div class="sendBtn">
                    <button class="sendButton" type="submit" [disabled]="!userForm.form.valid">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
